<div id="app">
</div>

<template id="appTemplate">
    <xp-app></xp-app>
</template>

<script type="importmap">
{
    "imports": {
        "vue": "/template/vue/vue.esm-browser.js",
        "XpGaia": "/template/vue/xp-gaia.js",
        "XpApp": "/template/vue/xp-app.js",
        "XpForm": "/template/vue/xp-form.js",
        "XpCrud": "/template/vue/xp-crud.js",
        "XpAppUser": "/template/vue/xp-app-user.js",
        "XpAppAdmin": "/template/vue/xp-app-admin.js",
        "XpAppDev": "/template/vue/xp-app-dev.js",
        "XpTest": "/template/vue/xp-test.js",
        "XpTestAsync": "/template/vue/xp-test-async.js",
        "leaflet": "/template/leaflet/leaflet-src.esm.js"
    }
}
</script>
<script type="module" src="/template/vue/app.js">
</script>

<template id="xp-app">
    <div>
        <h1>XP App</h1>
        <div class="container-map">
            <div ref="map" id="map" class="box-map"></div>
        </div>
        <xp-crud></xp-crud>
        <div v-if="xpv.user.id == 0">
            <xp-form name="register"></xp-form>
            <xp-form name="login"></xp-form>
            <xp-form name="newsletter"></xp-form>
            <xp-form name="contact"></xp-form>
        </div>
        <div v-else>
            <xp-app-user v-if="xpv.user_api_key"></xp-app-user>
            <xp-app-admin v-else-if="xpv.admin_api_key"></xp-app-admin>
            <div v-else>
                <h2>missing api key</h2>
            </div>
        </div>
        <xp-app-dev />
    </div>
</template>

<template id="xp-form">
    <div>
        <em>{{ name }}</em>
        <form v-if="form" @submit.prevent="$event => act_submit($event)">
            <label v-for="f in form.fields">
                <span>{{ f.name }}</span>
                <textarea v-if="f.type=='textarea'" rows="10" cols="80" :required="f.required" :placeholder="f.placeholder" v-model="f.value"></textarea>
                <input v-else :type="f.type" :name="f.name" :required="f.required" :placeholder="f.placeholder" v-model="f.value" />
            </label>
            <button type="submit">send</button>
        </form>
    </div>
</template>

<template id="xp-crud">
    <div class="box-crud">
        <em>CRUD</em>
        <div><label>level: {{ size }} <input type="range" v-model="size" min="0" max="100"></label></div>
        <div><label>score: {{ score2 }} / {{ size * size }}<input type="range" v-model="score2" min="0" :max="size*size"></label></div>
        <div class="grid">
            <article v-for="a in (size*size)">
                <h3 v-if="a <= score2">⭐️ {{ a }}</h3>
                <div v-else>{{ a }}</div>
                <xp-form name="post"></xp-form>
            </article>
        </div>
    </div>
</template>

<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    * {
        box-sizing: border-box;
    }
    #app {
        text-align: center;
    }

    h1 {
        color: red;
        text-align: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    form label {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
    }
    form label span {
        display: block;
        padding: 0.5rem;
    }

    form input, form textarea {
        padding: 0.5rem;
        width: 100%;
    }

    form button {
        padding: 0.5rem;
        background-color: #ddd;
        width: 50%;
        margin-top: 1rem;
    }

    .posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts article {
        border: 1px solid #ccc;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: #000;
    }

    .options ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .options ul li {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid #ccc;
        background-color: #eee;
    }
    /* media queries */
    @media (min-width: 800px) {
        .posts article {
            width: calc(100% / 2 - 1rem);
        }
    }
    @media (min-width: 1200px) {
        .posts article {
            width: calc(100% / 3 - 1rem);
        }
    }
    @media (min-width: 1600px) {
        .posts article {
            width: calc(100% / 4 - 1rem);
        }
    }
    @media (min-width: 2000px) {
        .posts article {
            width: calc(100% / 5 - 1rem);
        }
    }
    @media (min-width: 2400px) {
        .posts article {
            width: calc(100% / 6 - 1rem);
        }
    }

    .container-map {
        padding: 1rem;
    }
    .box-map {
        width: 100%;
        height: 30vmax;
    }

    .box-crud {
        padding:1rem;
    }
    .box-crud .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 1rem;
    }
    .grid article {
        border: 1px solid #ccc;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .grid article:hover {
        background-color: #ddd;
    } 
    article form {
        padding: 0;
    }
    article textarea {
        width: 100%;
        height: 100%;
        resize: none;
    }
</style>