#app .slidev-layout {
    font-size: 2rem !important;
}

h1 {
    color: ffffff !important;
    text-shadow: 1px 1px 4px #ff0000;
    font-size: 5rem !important;
}

h2 {
    color: red !important;
    text-align: left;
    padding-bottom: 5vw;
    padding-top: 5vw;
    font-size: 4rem !important;
}

h3 {
    color: red !important;
    text-align: left;
    padding-bottom: 5vw;
    padding-top: 5vw;
    font-size: 4rem !important;
}

pre.slidev-code {
    font-size: 24px !important;
    line-height: 36px !important;
}

.slidev-layout p {
    line-height: 4rem;
}

footer {
    font-size: 1vw !important;
}

img[alt=image] {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* box shadow */
    box-shadow: 0.75vw 1vw 0.25vw 0 rgba(0, 10, 10, 0.5);
}

#slide-content {
    /* transform: translate(-50%, -50%) scale(1) !important; */
}

#slideshow {}

/* select all .slide-layout except first one */
.slidev-layout:not(:first-child) {
    /* transform-origin: top left;
    transform: scale(3) !important; */
}

.slidev-layout.cover {
    /* scale x2 with origin left,top */
    /* transform: scale(3) !important; */
}

/* HACK: hide presenter mode button */
a[title="Presenter Mode"] {
    display: none !important;
}